[static_src_files]
row=6
col=0

[Tenjin]
row=4
col=0

[HAL.cpp]
row=8
col=0

[MemI.h]
row=15
col=0

[lib]
row=5
col=0

[SystemCScripts]
row=12
col=0

[ModellingEnvironmentScripts]
row=13
col=0

[New Folder]
row=1
col=1

[MEMORYCONTROLLER.cpp]
row=16
col=0

[SystemCScripts.zip]
row=11
col=0

[p4libs.tar.gz]
row=9
col=0

[install-greybird.sh]
row=7
col=0

[ModellingEnvironmentScripts.tar.gz]
row=10
col=0

[lib.tar.gz]
row=14
col=0

[Debian jessie 20160124-16:00]
row=0
col=0

[Floppy Disk]
row=3
col=0

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=17
col=0

